.weatherBg{
  /* background-color:url("https://th.bing.com/th/id/R.f9f662a5ec6bb01ec6761b685d3f32db?rik=3Sn0FLlWS3C88A&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2f9%2f7%2f426828.jpg"); */
  background-image: url(/src/images/427397.jpg);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.heading{
  color: white;
  font-weight: 700;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weatherIcon{
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}